<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,mininum=1.0">
	
	<title>Login-Todo Admin</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	
</head>
<body>
<div class="container-fluid">
	
	
	<div>&nbsp;</div>
	
	<div class="text-center">
		<h2>User Registration</h2>
		<h4>You have registered successfully as a customer</h4>
		<p>Please check your email to verify our account. </p>
		<p><a th:href="@{/login}">Login here</a></p>
	</div>
	
	<div>&nbsp;</div>
	
</div>
</body>
</html>