<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: page_head('Reset Password','none')"/>
<body>
<div class="container-fluid text-center">
	
	<div>&nbsp;</div>
	<div>
		<h2>Reset Your Password</h2>
	</div>
	
	<form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto" >
		<input type="hidden" th:value="${token}" name="token"/>
		<div>
			<div>
				<p>
					<input type="password" name="password" id="password" placeholder="Enter your new password"  required="required",
					minlength="8" maxlength="15" autofocus="autofocus" class="form-control"
					oninput="checkMatchPassword(document.getElementById('confirmPassword'))"/>
				</p>	
			</div>
			<div>
				<p>
					<input type="password" id="confirmPassword" placeholder="Confirm your new password"  required="required",
					minlength="8" maxlength="15" autofocus="autofocus" class="form-control"
					oninput="checkMatchPassword(this)"/>
				</p>	
			</div>
			<div>
				<p>
					<input type="submit" value="Change Password" class="btn btn-primary" />
				</p>
				
			</div>
		</div>
	</form>	
	<div>&nbsp;</div>

</div>
<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</body>
</html>